# Setup

## Install

In [25]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.10/site-packages (2.9.5)

## Imports

In [33]:
import pandas as pd

import requests
from bs4 import BeautifulSoup
import pandas as pd
import json

from sqlalchemy import create_engine
import psycopg2

## Constants

In [1]:
USERNAME = "user"
PASSWORD = "password"
DATABASE = "db"

# Code

## Web scrapping

In [7]:
url = 'https://www.worldometers.info/coronavirus/'
page = requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")

In [8]:
table1 = soup.find('table', id='main_table_countries_today')

In [9]:
headers = []
for i in table1.find_all('th'):
    title = i.text
    headers.append(title)

In [10]:
headers[13] = 'Tests/1M pop'

In [11]:
df = pd.DataFrame(columns = headers)

In [12]:
for j in table1.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [i.text for i in row_data]
    length = len(df)
    df.loc[length] = row

In [13]:
df.drop(df.index[0:7], inplace=True)
df.drop(df.index[222:229], inplace=True)
df.reset_index(inplace=True, drop=True)
df.drop('#', inplace=True, axis=1)

In [14]:
df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,World,"684,020,626","+19,092","6,832,001",+60,"656,993,303","+48,586","20,195,322","39,910","87,753",...,,,,All,\n,,,,,
1,USA,"106,222,205",,"1,155,098",,"104,005,164",,"1,061,943","1,983","317,266",...,"1,173,870,393","3,506,129","334,805,269",North America,3,290,0,,,"3,172"
2,India,"44,722,605",,"530,881",,"44,173,335",,"18,389",N/A,"31,794",...,"921,676,372","655,236","1,406,631,776",Asia,31,"2,650",2,,,13
3,France,"39,800,255",,"165,678",,"39,490,252",,"144,325",869,"606,854",...,"271,490,188","4,139,547","65,584,518",Europe,2,396,0,,,"2,201"
4,Germany,"38,354,626",,"170,964",,"38,080,900","+1,100","102,762",N/A,"457,236",...,"122,332,384","1,458,359","83,883,596",Europe,2,491,1,,,"1,225"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,Total:,"68,331,573",,"1,352,570",,"66,402,766",,"576,237","10,172",,...,,,,South America,,,,,,
229,Total:,"14,006,107",,"26,702",,"13,827,698",,"151,707",61,,...,,,,Australia/Oceania,,,,,,
230,Total:,"12,810,641",,"258,663",,"12,080,583",,"471,395",548,,...,,,,Africa,,,,,,
231,Total:,721,,15,,706,,0,0,,...,,,,,,,,,,
232,Total:,"684,020,626","+19,092","6,832,001",+60,"656,993,303","+48,586","20,195,322","39,910","87,753.5",...,,,,All,\n,,,,,

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country,Other        233 non-null    object
 1   TotalCases           233 non-null    object
 2   NewCases             233 non-null    object
 3   TotalDeaths          233 non-null    object
 4   NewDeaths            233 non-null    object
 5   TotalRecovered       233 non-null    object
 6   NewRecovered         233 non-null    object
 7   ActiveCases          233 non-null    object
 8   Serious,Critical     233 non-null    object
 9   Tot Cases/1M pop     233 non-null    object
 10  Deaths/1M pop        233 non-null    object
 11  TotalTests           233 non-null    object
 12  Tests/1M pop         233 non-null    object
 13  Population           233 non-null    object
 14  Continent            233 non-null    object
 15  1 Caseevery X ppl    233 non-null    object
 16  1 Deathevery X ppl   233 non-null    object
 17  1 Testevery X ppl    233 non-null    object
 18  New Cases/1M pop     233 non-null    object
 19  New Deaths/1M pop    233 non-null    object
 20  Active Cases/1M pop  233 non-null    object
dtypes: object(21)
memory usage: 38.4+ KB

In [16]:
df.describe()

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
count,233,233,233,233,233,233,233,233,233,233,...,233,233,233,233,233,233,233,233,233,233
unique,226,232,23,217,10,213,31,193,72,225,...,211,212,225,8,90,215,43,15,8,197
top,Total:,"684,020,626",,2,,N/A,,N/A,,,...,,,,Africa,2,,1,,,
freq,8,2,210,3,222,19,183,19,87,8,...,22,22,9,57,44,12,60,214,226,14

## Connect Postgres

In [40]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@51.250.64.42:5432/db')
connection = engine.connect()

In [ ]:
df.to_sql("table", engine, if_exists='replace', index=False, chunksize=64, method='multi');

In [ ]:
df_1 = pd.read_sql("select * from \"table\"", connection);

In [44]:
df_1

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,World,"684,020,626","+19,092","6,832,001",+60,"656,993,303","+48,586","20,195,322","39,910","87,753",...,,,,All,\n,,,,,
1,USA,"106,222,205",,"1,155,098",,"104,005,164",,"1,061,943","1,983","317,266",...,"1,173,870,393","3,506,129","334,805,269",North America,3,290,0,,,"3,172"
2,India,"44,722,605",,"530,881",,"44,173,335",,"18,389",N/A,"31,794",...,"921,676,372","655,236","1,406,631,776",Asia,31,"2,650",2,,,13
3,France,"39,800,255",,"165,678",,"39,490,252",,"144,325",869,"606,854",...,"271,490,188","4,139,547","65,584,518",Europe,2,396,0,,,"2,201"
4,Germany,"38,354,626",,"170,964",,"38,080,900","+1,100","102,762",N/A,"457,236",...,"122,332,384","1,458,359","83,883,596",Europe,2,491,1,,,"1,225"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,Total:,"68,331,573",,"1,352,570",,"66,402,766",,"576,237","10,172",,...,,,,South America,,,,,,
229,Total:,"14,006,107",,"26,702",,"13,827,698",,"151,707",61,,...,,,,Australia/Oceania,,,,,,
230,Total:,"12,810,641",,"258,663",,"12,080,583",,"471,395",548,,...,,,,Africa,,,,,,
231,Total:,721,,15,,706,,0,0,,...,,,,,,,,,,
232,Total:,"684,020,626","+19,092","6,832,001",+60,"656,993,303","+48,586","20,195,322","39,910","87,753.5",...,,,,All,\n,,,,,