# Setup

## Install

In [1]:
!python -m pip install "pymongo[srv]"

Collecting pymongo[srv]
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 3.5 MB/s eta 0:00:0000:0100:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 17.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3

In [17]:
!pip install lxml

Collecting lxml
  Downloading lxml-4.9.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (7.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.1/7.1 MB 9.9 MB/s eta 0:00:00:00:0100:01
Installing collected packages: lxml
Successfully installed lxml-4.9.2

## Imports

In [39]:
from pymongo import MongoClient
import pandas as pd

import requests
from bs4 import BeautifulSoup
import pandas as pd
import json

## Constants

## Functions

# Code

## Web scrapping

In [21]:
url = 'https://www.worldometers.info/coronavirus/'
page = requests.get(url)
soup = BeautifulSoup(page.text, "html.parser")

In [22]:
table1 = soup.find('table', id='main_table_countries_today')

In [25]:
headers = []
for i in table1.find_all('th'):
    title = i.text
    headers.append(title)

In [27]:
headers[13] = 'Tests/1M pop'

In [28]:
df = pd.DataFrame(columns = headers)

In [32]:
for j in table1.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [i.text for i in row_data]
    length = len(df)
    df.loc[length] = row

In [33]:
df.drop(df.index[0:7], inplace=True)
df.drop(df.index[222:229], inplace=True)
df.reset_index(inplace=True, drop=True)
df.drop('#', inplace=True, axis=1)

In [34]:
df

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,World,"684,017,965","+16,896","6,831,996",+55,"656,987,763","+43,846","20,198,206","39,912","87,753",...,,,,All,\n,,,,,
1,USA,"106,222,205",,"1,155,098",,"104,005,164",,"1,061,943","1,983","317,266",...,"1,173,870,393","3,506,129","334,805,269",North America,3,290,0,,,"3,172"
2,India,"44,722,605",,"530,881",,"44,173,335",,"18,389",N/A,"31,794",...,"921,676,372","655,236","1,406,631,776",Asia,31,"2,650",2,,,13
3,France,"39,800,255",,"165,678",,"39,490,252",,"144,325",869,"606,854",...,"271,490,188","4,139,547","65,584,518",Europe,2,396,0,,,"2,201"
4,Germany,"38,354,626",,"170,964",,"38,080,900","+1,100","102,762",N/A,"457,236",...,"122,332,384","1,458,359","83,883,596",Europe,2,491,1,,,"1,225"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,Total:,"68,331,573",,"1,352,570",,"66,402,766",,"576,237","10,172",,...,,,,South America,,,,,,
229,Total:,"14,006,107",,"26,702",,"13,827,698",,"151,707",61,,...,,,,Australia/Oceania,,,,,,
230,Total:,"12,810,641",,"258,663",,"12,080,583",,"471,395",548,,...,,,,Africa,,,,,,
231,Total:,721,,15,,706,,0,0,,...,,,,,,,,,,
232,Total:,"684,017,965","+16,896","6,831,996",+55,"656,987,763","+43,846","20,198,206","39,912","87,753.1",...,,,,All,\n,,,,,

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country,Other        233 non-null    object
 1   TotalCases           233 non-null    object
 2   NewCases             233 non-null    object
 3   TotalDeaths          233 non-null    object
 4   NewDeaths            233 non-null    object
 5   TotalRecovered       233 non-null    object
 6   NewRecovered         233 non-null    object
 7   ActiveCases          233 non-null    object
 8   Serious,Critical     233 non-null    object
 9   Tot Cases/1M pop     233 non-null    object
 10  Deaths/1M pop        233 non-null    object
 11  TotalTests           233 non-null    object
 12  Tests/1M pop         233 non-null    object
 13  Population           233 non-null    object
 14  Continent            233 non-null    object
 15  1 Caseevery X ppl    233 non-null    object
 16  1 Deathevery X ppl   233 non-null    object
 17  1 Testevery X ppl    233 non-null    object
 18  New Cases/1M pop     233 non-null    object
 19  New Deaths/1M pop    233 non-null    object
 20  Active Cases/1M pop  233 non-null    object
dtypes: object(21)
memory usage: 38.4+ KB

In [37]:
df.describe()

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,...,TotalTests,Tests/1M pop,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
count,233,233,233,233,233,233,233,233,233,233,...,233,233,233,233,233,233,233,233,233,233
unique,226,232,17,217,9,213,25,193,72,225,...,211,212,225,8,90,215,43,12,6,197
top,Total:,"684,017,965",,2,,N/A,,N/A,,,...,,,,Africa,2,,1,,,
freq,8,2,216,3,224,19,189,19,87,8,...,22,22,9,57,44,12,60,220,228,14

## Connect Mongo

In [55]:
client = MongoClient("mongodb://db:27017", port=27017, directConnection=True)

In [56]:
client = MongoClient("mongodb+srv:27017//db")

InvalidURI: Invalid URI scheme: URI must begin with 'mongodb://' or 'mongodb+srv://'

In [49]:
db = client['db_1']

In [50]:
collection = db['dataset_1']

In [51]:
collection

Collection(Database(MongoClient(host=['db:27017'], document_class=dict, tz_aware=False, connect=True, directconnection=True), 'db_1'), 'dataset_1')

In [ ]:
collection.insert_many(docs)

## Upload documents to Mongo

In [44]:
docs = list(json.loads(df.T.to_json()).values())

In [45]:
docs[0]

{'Country,Other': 'World',
 'TotalCases': '684,017,965',
 'NewCases': '+16,896',
 'TotalDeaths': '6,831,996',
 'NewDeaths': '+55',
 'TotalRecovered': '656,987,763',
 'NewRecovered': '+43,846',
 'ActiveCases': '20,198,206',
 'Serious,Critical': '39,912',
 'Tot\xa0Cases/1M pop': '87,753',
 'Deaths/1M pop': '876.5',
 'TotalTests': '',
 'Tests/1M pop': '',
 'Population': '',
 'Continent': 'All',
 '1 Caseevery X ppl': '\n',
 '1 Deathevery X ppl': '',
 '1 Testevery X ppl': '',
 'New Cases/1M pop': '',
 'New Deaths/1M pop': '',
 'Active Cases/1M pop': ''}

In [52]:
collection.insert_many(docs)

ServerSelectionTimeoutError: db:27017: [Errno -3] Temporary failure in name resolution, Timeout: 30s, Topology Description: <TopologyDescription id: 64298b2915834ff2650f03fa, topology_type: Single, servers: [<ServerDescription ('db', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('db:27017: [Errno -3] Temporary failure in name resolution')>]>

In [ ]:
collection